@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>DBS - Login</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>

<body>

    <div class="particle p1"></div>
    <div class="particle p2"></div>
    <div class="particle p3"></div>
    <div class="particle p4"></div>
    <div class="particle p5"></div>
    <div class="particle p6"></div>
    <div class="particle p7"></div>
    <div class="particle p8"></div>

    <div class="bubble b1"></div>
    <div class="bubble b2"></div>
    <div class="bubble b3"></div>
    <div class="bubble b4"></div>

    <div class="container">

        <div class="left"></div>

        <div class="right">

            <h1>Bem vindo de volta!</h1>
            <p>Entre para acessar o sistema</p>

            <div class="input-box">
                <input type="text" placeholder="Usuário">
            </div>

            <div class="input-box">
                <input type="password" placeholder="Senha">
            </div>

            <button>Entrar</button>

        </div>

    </div>

</body>
</html>